<%- include('partials/head') %>
<link rel="stylesheet" href="cart.css" type="text/css">
<body>
    <%- include('partials/header') %>
    <h1>Cart</h1>
    <%- include('partials/footer') %>
</body>
</html> 