<%- include('partials/head') %>
<link rel="stylesheet" href="detail-product.css" type="text/css">
<body>
    <%- include('partials/header') %>
    <h1>Details-product</h1>
    <%- include('partials/footer') %>
</body>
</html> 