<%- include('partials/head') %>
<link rel="stylesheet" href="register.css" type="text/css">
<body>
    <%- include('partials/header') %>
    <h1>Register</h1>
    <%- include('partials/footer') %>
</body>
</html> 