<link rel="stylesheet" href="header.css" type="text/css">
<header>
    <div id='header1'>
        <button id="menu"><picture><img src="icons/menu.svg" alt="menu"></picture></button>
        <span><a href="/" id="texto">Little Glint</a></span>
        <div id="carus">
            <button id="carrito"><picture><img src="icons/carro.svg" alt="carro"></picture></button>
            <Button id="usuario"><picture><img src="icons/user.svg" alt="user"></picture></Button>
        </div>
    </div>    
</header>